*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    background: url('./images/headphones_hero_1.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* header{
    max-width: 1000px;
} */
nav{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}
.logo{
    width: 160px;
    max-width: 100%;
    height: auto;
}
nav ul{
    display: flex;
    gap: 30px;
    justify-content: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.main-section{
    text-align: center;
    margin-top: 40vh;
    line-height: 1.5;
    margin-bottom: 10vh;
}
.btn{
    background: #FF6565;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    width: 160px;
}
h1,p{
    color: white;
}
.main-text{
    text-align: center;
    line-height: 1.5;
}
a:active{
    background-color: #FF6565;
}
.btn:active{
    opacity: 0.9;
}

@media(max-width: 480px){
    body{
        max-width: 1000px;
    }
    nav{
        margin-top: 3vh;
    }
    li{
        display:none;
    }
    .logo{
        display: inline-block;
    }
    .main-section{
        margin-top: 25vh;
        /* margin-bottom: 5vh; */
        text-align: center;
    }
    .main-text{
        text-align: center;
        text-wrap: wrap;
    }
    .btn:active{
        opacity: 0.9;
    }
    
}